.welcome-page-title {
    text-align: center;
    font-size: 3em;
    width: 300px; /* Restrict the width */
    height: 100px;
    margin: 0.67em auto; /* Center horizontally */
    color: #1A6E1A; /* Darker Forest Green */
    position: relative;
    display: inline-bl ock;
    padding: 20px;
    background-color: #E6F4E6; /* Light Green matching the theme */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.welcome-page-title::before,
.welcome-page-title::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background-color: #E6F4E6; /* Light Green matching the theme */
    border-radius: 12px; /* Rounded corners */
    z-index: -1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.welcome-page-title::before {
    top: 20px;
    left: 20px;
}

.welcome-page-description {
    text-align: center;
    font-size: 1.5em;
    margin: 0.67em auto;
    color: #004B00; /* Darker Dark Green */
    background-color: #E6F4E6; /* Light Green matching the theme */
    padding: 10px;
    max-width: 60%; /* Restrict the width */
    border-radius: 8px; /* Optional: Add rounded corners */
}

.welcome-btn {
    text-align: center;
    background-color: #1A6E1A; /* Darker Forest Green */
    color: #FFFFFF; /* White */
    padding: 14px 20px;
    margin: 16px auto; /* Add margin between buttons and center them */
    border: none;
    cursor: pointer;
    width: 200px; /* Force the buttons to be the same width */
    font-size: 1.5em;
    display: block; /* Ensure buttons are block-level for centering */
}

.welcome-btn:hover {
    background-color: #006666; /* Slightly darker Teal */
}