{#
    <!--
    This is the parent template for use in every other template we create. At the top of each child template, 
    include {% extends "base.html" %} and flask will provide this skeleton automatically. Include each block 
    created here in your child template to add content.

    Content inside of blocks seen here, such as the nav bar, are defaults that can and should be included in 
    each child template.

    Add {{ super() }} in each block of a child template to include the default content from base.
    -->
#}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - MindFlip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% endblock %}
</head>
<body>
    <div id="header">
        {% block nav %}
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('main.show', page='index') }}">MindFlip</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.show', page='home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.show', page='manage_sets') }}">Manage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.show', page='create') }}">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.show', page='profile') }}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('users.logout_user') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>
