{#
    <!--
    This is the parent template for use in every other template we create. At the top of each child template, 
    include {% extends "base.html" %} and flask will provide this skeleton automatically. Include each block 
    created here in your child template to add content.

    Content inside of blocks seen here, such as the nav bar, are defaults that can and should be included in 
    each child template.

    Add {{ super() }} in each block of a child template to include the default content from base.
    -->
#}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - MindFlip</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='prototypes/css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock %}
</head>
<body>
<canvas id="particles"></canvas>
    <div id="header">
        {% block nav %}
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                {% if session.get('user_id') %}
                    <a class="navbar-brand" href="{{ url_for('flashcards.get_all_users_sets_home') }}">MindFlip</a>
                {% else %}
                    <a class="navbar-brand" href="{{ url_for('main.show', page='index') }}">MindFlip</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('flashcards.get_all_users_sets_home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('flashcards.get_all_users_sets_manage') }}">Manage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.show', page='create') }}">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.show', page='profile') }}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('users.logout_user') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        {% endblock %}
    </div>

    {% block content %}
    {% endblock %}

    <div id="footer">
        {% block footer %}
        <!-- Bootstrap JS and Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='prototypes/js/Javascript.js')}}"></script>
        {% endblock %}
    </div>
</body>
</html>
